.footerstyle{
    background-color: #4f92b7;
    padding:20px;
    margin: 0;
    /* position: fixed; */
    color: #fff;
    /* position:absolute; */
    width:100%;
    bottom:0; 
    /* position: sticky; */
}