<table  class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
<tr>FirstName</tr>
<div  *ngFor="let data of UserData; let i=index">

  <td >{{data.firstName}}</td>
   
</div>

  </table>
  
  
  
  <!-- Copyright 2022 Google LLC. All Rights Reserved.
      Use of this source code is governed by an MIT-style license that
      can be found in the LICENSE file at https://angular.io/license -->