  <div class="formwrap">
<div class="formstyle">
    <h1 class="headerwrap">Peronal survey</h1>
  <div *ngFor="let question of formData">
    <div [formGroup]="myForm">
      <mat-form-field *ngIf="question.type === 'text-box'" appearance="outline">
        <mat-label>{{ question.text }}</mat-label>
        <input
          matInput
          [placeholder]="question.text"
          [type]="question.type"
          [formControlName]="question.formcontrolName"
        />
      </mat-form-field>
      <div *ngIf="question.type === 'RadioButton'" class="radiowrap">
        <label class="example-radio-label">{{ question.text }}</label>
        <mat-radio-group
          [formControlName]="question.formcontrolName"
          class="example-radio-group"
        >
          <mat-radio-button
            class="example-radio-button"
            *ngFor="let opt of question.options"
            [value]="opt.key"
          >
            {{ opt.value }}
          </mat-radio-button>
        </mat-radio-group>
      </div>
      <div *ngIf="question.type === 'Textarea'">
        <mat-form-field>
          <mat-label>{{ question.text }}</mat-label>
          <textarea
            matInput
            [placeholder]="question.text"
            [type]="question.type"
            [formControlName]="question.formcontrolName"
          >
          </textarea>
        </mat-form-field>
      </div>
    </div>
  </div>

  <div class="form-row" class="buttonstyle">
    <button mat-stroked-button type="submit"  (click)="saveForm()">Save</button>
  </div>
</div>
</div>
