.full-width{
    width: 100%;
}

.top-padding{
    padding-top: 3px;
}

.margin-left mat-radio-button:not(:first-child){
    margin-left:10px;
}

.form-container{
    margin: 100px;
}

.formstyle{
    display:flex;
    flex-direction:column;
    justify-content:center;
    /* align-items:center; */
    width: 30%;
    box-sizing: border-box;
    background-color: #f3f4f9;
    color: #273992 !important;
    /* border-radius: 10px; */
    padding: 1em;
    border-radius: 50px;
    box-shadow:  20px 20px 60px #cfcfd4,-20px -20px 60px #ffffff;
    padding: 2em;
    border-radius: 20px;
}
.buttonstyle{
    margin-right: 5px;
    color:light #007bff;
}
.radiowrap{
display:flex;
flex-direction:column;
justify-content:flex-start;
}

.formwrap{
    display:flex;
    align-items:center;
    justify-content: center;
    background: #f3f4f9;
    padding: 1em;
    padding-top: 3em;
    height: 100%;
}
.headerwrap{
    color: #273992 !important;
}
.btnfeature{

    background-color:#0b6fd2 ;
    color: #fff !important;
}
.buttonback{
    float:right !important;
    margin-bottom: 15px;
    margin-left: 22em;
    top: 100px;
    position: absolute;
}

.formcontrolstyle{
  
    color:red;
    /* margin-top: -19px; */
}